*:active {
    border: none !important;
    border-width: 0px !important;
}
#grid1 {
    border: 1px solid white;
    border-radius: 50%;
}

#grid1:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    cursor: pointer;
} 

#diLink:hover {
    text-decoration: underline;
}

input:focus {
    outline-width: 0;
}

#lang >li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#footy1 > ul > li:hover {
    text-decoration: underline;
}
#footy2:hover {
    text-decoration: underline;
}
#footy3 > ul > li:hover {
    text-decoration: underline;
}

input:active{
    text-decoration: none;
}

#searchb:hover {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.20);
}

#googSearch:hover {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.20);
    border: 1px solid black;
}
#googluck:hover {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.20);
    border: 1px solid black;
}

#mainInput:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

input:focus {
    outline: none !important;
}

#offerLang:hover{
    text-decoration: none !important;
    cursor: text !important;
}

